@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');

* {
	margin: 0;
	padding:0;
	font-family: 'Gothic A1', sans-serif;
}

body {
	display : grid;
	min-height : 100vh;
	grid-template-rows: 100px 50px auto 150px;
}

header {
	color: #0aaa5cff;
	padding-top: 20px;
}

footer {
	font-size: 0.8em;
	background-color: whitesmoke;
}

nav,
section,
footer {
	padding: 20px;
}

h1 {
	text-align: center;
}

ul {
	display: flex;
	gap : 15px;
	list-style: none;
}

li {
	padding: 5px;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	color: #0aaa5cff;
}